.header {
  background-color: #1f2937;
  padding-bottom: 100px;
}

.header .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 20px;
}
.nav h3 {
  font-size: 24px;
  color: #f9faf8;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.header .h-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
  margin: 0px 20px;
}

.h-con .left-h-con {
  width: 400px;
  height: auto;
}

.left-h-con h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 0px;
}

.left-h-con p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px 0px;
}
.left-h-con button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
  padding: 10px 35px;
}

.h-con .image {
  width: 400px;
  height: 234px;
  background-color: grey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.info h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
}

.info .i-con {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.info .pic {
  width: 150px;
  text-align: center;
}

.pic .box {
  height: 150px;
  width: 150px;
  border-width: 4px;
  border-style: solid;
  border-radius: 15px;
  border-color: #3882f6;
}

.quote {
  background-color: #e5e7eb;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.quote .q-con {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.quote p {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.q-con .quoter {
  position: absolute;
  bottom: 0;
  right: 0;
}
