.header {
    background-color: #1F2937;
    padding-bottom: 100px;  
}

.header .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav h3{
    font-size: 24px;
    color: #F9FAF8;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none; color: #E5E7EB;
    font-size: 18px;
}

.header .h-con {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 30px;
}

.h-con .left-h-con {
    width: 350px;
    height: 150px;
}

.h-con .image {
    width: 350px;
    height: 150px;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
