a {
    text-decoration: none; color: lightblue;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.header {
    background-color: #1F2937;
    padding-bottom: 75px;  
}

.nav {
    display: flex;
    justify-content: space-around;
}

.h-con {
    display: flex;
}

.image {
    width: 350px;
    height: 150px;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
